<h1>Books</h1>

<table>
<% @books.each do |book| %>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.body %></td>
        <td><%= link_to "show", book_path(book.id) %></td>
        <td><%= link_to "edit", edit_book_path(book.id) %></td>
        <td><%= link_to "destroy", book_path(book.id), method: :delete %></td>
      </tr>
  </tbody>
<!--<span><%= book.title %></span>-->
<% end %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td>達人プログラマー</td>
        <td>プログラマ入門者は必読！</td>
        <td><a class="show_14203" href="/books/14203">Show</a></td>
        <td><a class="edit_14203" href="/books/14203/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_14203" rel="nofollow" data-method="delete" href="/books/14203">Destroy</a></td>
      </tr>
  </tbody>
</table>


<h1>New book</h1>
<!-- form_with部分 -->
<%= form_with model:@book, local:true do |f| %>

  <h4>Title</h4>
  <%= f.text_field :title %>

  <h4>Body</h4>
  <%= f.text_area :body %>

  <%= f.submit 'Create Book' %>

<% end %>

